<a href="https://colab.research.google.com/github/franklinokech/CeKe-Master-Database/blob/main/CeKe_Master_Database_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview
This notebook provides step taken to wrangle CeKe individual datasets into a master database

## Datasets
1. [Tree Survey / Eval Db](https://docs.google.com/spreadsheets/d/18uoHeqEG988ewA3nHqnO5VzF5eW_FlJdvGNHodsU27k/edit?usp=sharing)
1. [Tally Sheet Db](https://docs.google.com/spreadsheets/d/1CdiTV4orKIPaHYwqKNXg2d-VVneszpK7U3YKN2fmpCA/edit?usp=sharing)
1. [Farmer Payment](https://docs.google.com/spreadsheets/d/1CdiTV4orKIPaHYwqKNXg2d-VVneszpK7U3YKN2fmpCA/edit?usp=sharing)
1. [PCM Tool](https://docs.google.com/spreadsheets/d/1YikY3eLUMVDUp7qPC_BV0x6HZE4L9AMOKxR3mMqX-Wg/edit?usp=sharing)

## Algorithm
1. Import Data processing libraries
1. Extract and process Tree Survey/Eval Db and store in a dataframe
1. Extract and process The Tally Sheet Db and store in a dataframe
1. Extract and process the farmer payment data and store in a dataframe
1. Extract and process the PCM data and store in a dataframe
1. Merge the Eval, Tally sheet,farmer payment and PCM data into one Master dataframe
1. Export the Master dataframe

# Import Libraries

In [18]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
# Install gspread to connect to Google Drive
!pip install  -q gspread

In [20]:
# Authenticate gspread library
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

# Extract and process Tree Survey/Eval Db and store in a dataframe

In [21]:
# Get Evaluation Survey Data
sh = gc.open('CeKe Tree Survey Marking Database')
# Select Spreadsheet
# By title
worksheet_eval = sh.worksheet('data')
data_eval = worksheet_eval.get_all_values()
headers = data_eval.pop(0)

df_eval = pd.DataFrame(data_eval, columns=headers)

# Preview dataframe
df_eval.head()

           komid            SubmissionDate  ... KEY classtotal_10greater
0  nyd-2020-0003  2019-10-22T06:54:06.985Z  ...
1  nyd-2020-0019  2019-10-22T09:06:16.240Z  ...
2  nyd-2020-0001  2019-10-22T09:31:39.703Z  ...
3                 2019-10-22T11:25:00.530Z  ...
4  nyd-2020-0002  2019-10-23T06:39:13.816Z  ...

[5 rows x 105 columns]

In [22]:
cols_to_filter = [
                  'komid',
                  'SubmissionDate',
                  'username',
                  'workingzone',
                  'short_farm_gps',
                  'farmer_official_id',
                  'farmer_official_name',
                  'farmer_uniqueid',
                  'farmer_product',
                  'eafusername',
                  'eafclasstotal_4',
                  'eafclasstotal_5',
                  'eafclasstotal_6',
                  'eafclasstotal_7',
                  'eafclasstotal_8',
                  'eafclasstotal_9',
                  'eafclasstotal_10',
                  'classtotal_10greater',
                  'eaftotal_trees',
                  'eaftotal_cash',
                  'eaftotal_volume_bfh',
                  'date_eaf',
                  'eafid',
                  'KEY'
                  ]


#filter evaluation data
df_eval_filtered = df_eval[cols_to_filter]

#preview
df_eval_filtered.head()

           komid            SubmissionDate  ... eafid KEY
0  nyd-2020-0003  2019-10-22T06:54:06.985Z  ...
1  nyd-2020-0019  2019-10-22T09:06:16.240Z  ...
2  nyd-2020-0001  2019-10-22T09:31:39.703Z  ...
3                 2019-10-22T11:25:00.530Z  ...
4  nyd-2020-0002  2019-10-23T06:39:13.816Z  ...

[5 rows x 24 columns]

In [23]:
# convert columns to appropriate data types
df_eval_filtered.SubmissionDate = pd.to_datetime(df_eval_filtered.SubmissionDate)
df_eval_filtered.date_eaf = pd.to_datetime(df_eval_filtered.date_eaf)
df_eval_filtered.eafclasstotal_4 = pd.to_numeric(df_eval_filtered.eafclasstotal_4)
df_eval_filtered.eafclasstotal_5 = pd.to_numeric(df_eval_filtered.eafclasstotal_5)
df_eval_filtered.eafclasstotal_6 = pd.to_numeric(df_eval_filtered.eafclasstotal_6)
df_eval_filtered.eafclasstotal_7 = pd.to_numeric(df_eval_filtered.eafclasstotal_7)
df_eval_filtered.eafclasstotal_8 = pd.to_numeric(df_eval_filtered.eafclasstotal_8)
df_eval_filtered.eafclasstotal_9 = pd.to_numeric(df_eval_filtered.eafclasstotal_9)
df_eval_filtered.eafclasstotal_10 = pd.to_numeric(df_eval_filtered.eafclasstotal_10)
df_eval_filtered.classtotal_10greater = pd.to_numeric(df_eval_filtered.classtotal_10greater)
df_eval_filtered.eaftotal_trees = pd.to_numeric(df_eval_filtered.eaftotal_trees)
df_eval_filtered.eafclasseaftotal_cashtotal_4 = pd.to_numeric(df_eval_filtered.eaftotal_cash)
df_eval_filtered.eaftotal_volume_bfh = pd.to_numeric(df_eval_filtered.eaftotal_volume_bfh)


# Remove time from date
df_eval_filtered.SubmissionDate = pd.to_datetime(df_eval_filtered.SubmissionDate.dt.date)
df_eval_filtered.date_eaf = pd.to_datetime(df_eval_filtered.date_eaf.dt.date)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  del sys.path[0]

In [24]:
# Rename columns
cols_to_rename = {
    'komid': 'kcode',
    'SubmissionDate': 'eval_date',
    'eafusername': 'eval_username',
    'workingzone': 'zone_id',
    'short_farm_gps': 'geopoint',
    'farmer_product': 'operation_type',
    'eafclasstotal_4': 'classtotal_4',
    'eafclasstotal_5': 'classtotal_5',
    'eafclasstotal_6': 'classtotal_6',
    'eafclasstotal_7': 'classtotal_7',
    'eafclasstotal_8': 'classtotal_8',
    'eafclasstotal_9': 'classtotal_9',
    'eafclasstotal_10': 'classtotal_10',
    'classtotal_10greater': 'classtotal_10greater',
    'eaftotal_trees': 'eval_count',
    'eaftotal_cash': 'eval_amount',
    'eaftotal_volume_bfh': 'eval_volume',
    'date_eaf': 'eval_date',
    'eafid': 'eval_id',
    'username': 'ts_username',
    }

df_eval_filtered.rename(columns=cols_to_rename, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [25]:
from google.colab import auth
from gspread_dataframe import get_as_dataframe, set_with_dataframe
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())



# import gsheet with the data
# Spreadsheet ID:1K5p6xrOy8t-v0vfYWDXm9WqIIgdaPtMNLoNjbXFhHk0

sh = gc.open('CeKe Temporary Master Database')

# Select Spreadsheet
# By title
worksheet = sh.worksheet('eval')

# Append Dataframe to Sheet
set_with_dataframe(worksheet, df_eval_filtered)

# Extract and process The Tally Sheet Db and store in a dataframe

In [26]:
# Get the tallying data
sh = gc.open('CeKe Tally Sheet DB')
# Select Spreadsheet
# By title
worksheet_tallying = sh.worksheet('data')
data_tallying = worksheet_tallying.get_all_values()
headers = data_tallying.pop(0)

df_tallying = pd.DataFrame(data_tallying, columns=headers)

# Preview dataframe
df_tallying.head()

            date_tally          komid  ... delay_reason_time pilot_reason_time
0  31/10/2019 10:32:23  nyd-2020-0002  ...
1  01/11/2019 09:48:33  nyd-2020-0001  ...
2  05/11/2019 14:07:12  nyd-2020-0005  ...
3  06/11/2019 09:31:27  nyd-2020-0003  ...
4  07/11/2019 15:20:44  nyd-2020-0004  ...

[5 rows x 92 columns]

In [27]:
# filter columns
cols_to_filter = [
                  'date_tally',
                  'SubmissionDate',
                  'komid',
                   'username',
                  'id_name',
                  'hvsttotalvol',
                  'totallength',
                  'price2farmer',
                  'hvstclasstotal_1',
                  'hvstclasstotal_2',
                  'hvstclasstotal_3',
                  'hvstclasstotal_4',
                  'hvstclasstotal_5',
                  'hvstclasstotal_6',
                  'hvstclasstotal_7',
                  'hvstclasstotal_8',
                  'hvstclasstotal_9',
                  'hvstclasstotal_10',
                  'hvsttotal_trees',
                  'eafid'
                  ]

#filter tallying data
df_tallying_filtered = df_tallying[cols_to_filter]

#preview
df_tallying_filtered.head()

            date_tally            SubmissionDate  ... hvsttotal_trees eafid
0  31/10/2019 10:32:23  2019-10-31T12:54:38.882Z  ...              27
1  01/11/2019 09:48:33  2019-11-01T13:09:57.496Z  ...              35
2  05/11/2019 14:07:12  2019-11-05T13:23:30.937Z  ...              28
3  06/11/2019 09:31:27  2019-11-06T13:53:48.101Z  ...              29
4  07/11/2019 15:20:44  2019-11-07T12:24:45.954Z  ...              30

[5 rows x 20 columns]

In [28]:
# convert to appropriate data types
df_tallying_filtered.date_tally = pd.to_datetime(df_tallying_filtered.date_tally)
df_tallying_filtered.SubmissionDate = pd.to_datetime(df_tallying_filtered.SubmissionDate)
df_tallying_filtered.hvsttotalvol = pd.to_numeric(df_tallying_filtered.hvsttotalvol)
df_tallying_filtered.totallength = pd.to_numeric(df_tallying_filtered.totallength)
df_tallying_filtered.price2farmer = pd.to_numeric(df_tallying_filtered.price2farmer)
df_tallying_filtered.hvstclasstotal_1 = pd.to_numeric(df_tallying_filtered.hvstclasstotal_1)
df_tallying_filtered.hvstclasstotal_2 = pd.to_numeric(df_tallying_filtered.hvstclasstotal_2)
df_tallying_filtered.hvstclasstotal_3 = pd.to_numeric(df_tallying_filtered.hvstclasstotal_3)
df_tallying_filtered.hvstclasstotal_4 = pd.to_numeric(df_tallying_filtered.hvstclasstotal_4)
df_tallying_filtered.hvstclasstotal_5 = pd.to_numeric(df_tallying_filtered.hvstclasstotal_5)
df_tallying_filtered.hvstclasstotal_6 = pd.to_numeric(df_tallying_filtered.hvstclasstotal_6)
df_tallying_filtered.hvstclasstotal_7 = pd.to_numeric(df_tallying_filtered.hvstclasstotal_7)
df_tallying_filtered.hvstclasstotal_8 = pd.to_numeric(df_tallying_filtered.hvstclasstotal_8)
df_tallying_filtered.hvstclasstotal_9 = pd.to_numeric(df_tallying_filtered.hvstclasstotal_9)
df_tallying_filtered.hvstclasstotal_10 = pd.to_numeric(df_tallying_filtered.hvstclasstotal_10)
df_tallying_filtered.hvsttotal_trees = pd.to_numeric(df_tallying_filtered.hvsttotal_trees)


# Remove time from date
df_tallying_filtered.SubmissionDate = pd.to_datetime(df_tallying_filtered.SubmissionDate.dt.date)
df_tallying_filtered.date_tally = pd.to_datetime(df_tallying_filtered.date_tally.dt.date)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [29]:
df_tallying_filtered.head()

  date_tally SubmissionDate  ... hvsttotal_trees eafid
0 2019-10-31     2019-10-31  ...              27
1 2019-01-11     2019-11-01  ...              35
2 2019-05-11     2019-11-05  ...              28
3 2019-06-11     2019-11-06  ...              29
4 2019-07-11     2019-11-07  ...              30

[5 rows x 20 columns]

In [30]:
# rename columns
cols_to_rename = {
    'date_tally': 'harvest_date',
    'komid': 'kcode',
    'hvsttotalvol': 'volume',
    'totallength': 'total_length',
    'price2farmer': 'harvest_amount',
    'hvsttotal_trees': 'trees_cut', 
    'eafid': 'eval_id',
    'username': 'tallying_username',
}

df_tallying_filtered.rename(columns=cols_to_rename, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [31]:
df_tallying_filtered.head()

  harvest_date SubmissionDate  ... trees_cut eval_id
0   2019-10-31     2019-10-31  ...        27
1   2019-01-11     2019-11-01  ...        35
2   2019-05-11     2019-11-05  ...        28
3   2019-06-11     2019-11-06  ...        29
4   2019-07-11     2019-11-07  ...        30

[5 rows x 20 columns]

In [32]:
from google.colab import auth
from gspread_dataframe import get_as_dataframe, set_with_dataframe
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())



# import gsheet with the data

sh = gc.open('CeKe Temporary Master Database')

# Select Spreadsheet
# By title
worksheet = sh.worksheet('tallying')

# Append Dataframe to Sheet
set_with_dataframe(worksheet, df_tallying_filtered)

# Merge Eval with Tallying Data

In [33]:
# dataframes to merge

df_merged_tallying_n_eval = pd.merge(
    left=df_eval_filtered, 
    right=df_tallying_filtered,
    left_on='eval_id',
    right_on='eval_id',
    how='inner',
     )

In [34]:
df_merged_tallying_n_eval.tail()

           kcode_x  eval_date  ... hvstclasstotal_10 trees_cut
506  nyd-2021-1218 2021-02-16  ...                 1        33
507  nyd-2021-1219 2021-02-17  ...                13        68
508  nyd-2021-1220 2021-02-23  ...                 7        25
509  nyd-2021-1221 2021-02-24  ...                 8        29
510  nyd-2021-1222 2021-02-26  ...                 8        27

[5 rows x 43 columns]

In [35]:
df_merged_tallying_n_eval.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 511 entries, 0 to 510
Data columns (total 43 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   kcode_x               511 non-null    object
 1   eval_date             509 non-null    datetime64[ns]
 2   ts_username           511 non-null    object
 3   zone_id               511 non-null    object
 4   geopoint              511 non-null    object
 5   farmer_official_id    511 non-null    object
 6   farmer_official_name  511 non-null    object
 7   farmer_uniqueid       511 non-null    object
 8   operation_type        511 non-null    object
 9   eval_username         511 non-null    object
 10  classtotal_4          316 non-null    float64
 11  classtotal_5          316 non-null    float64
 12  classtotal_6          316 non-null    float64
 13  classtotal_7          316 non-null    float64
 14  classtotal_8          316 non-null    float64
 15  classtotal_9          316 non-null    float64
 16  classtotal_10         316 non-null    float64
 17  classtotal_10greater  36 non-null     float64
 18  eval_count            316 non-null    float64
 19  eval_amount           511 non-null    object
 20  eval_volume           316 non-null    float64
 21  eval_date             336 non-null    datetime64[ns]
 22  eval_id               511 non-null    object
 23  KEY                   511 non-null    object
 24  harvest_date          511 non-null    datetime64[ns]
 25  SubmissionDate        511 non-null    datetime64[ns]
 26  kcode_y               511 non-null    object
 27  tallying_username     511 non-null    object
 28  id_name               511 non-null    object
 29  volume                511 non-null    float64
 30  total_length          511 non-null    float64
 31  harvest_amount        511 non-null    int64
 32  hvstclasstotal_1      511 non-null    int64
 33  hvstclasstotal_2      511 non-null    int64
 34  hvstclasstotal_3      511 non-null    int64
 35  hvstclasstotal_4      511 non-null    int64
 36  hvstclasstotal_5      511 non-null    int64
 37  hvstclasstotal_6      511 non-null    int64
 38  hvstclasstotal_7      511 non-null    int64
 39  hvstclasstotal_8      511 non-null    int64
 40  hvstclasstotal_9      511 non-null    int64
 41  hvstclasstotal_10     511 non-null    int64
 42  trees_cut             511 non-null    int64
dtypes: datetime64[ns](4), float64(12), int64(12), object(15)
memory usage: 175.7+ KB

In [36]:
from google.colab import auth
from gspread_dataframe import get_as_dataframe, set_with_dataframe
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())



# import gsheet with the data
# Spreadsheet ID:1K5p6xrOy8t-v0vfYWDXm9WqIIgdaPtMNLoNjbXFhHk0

sh = gc.open('CeKe Temporary Master Database')

# Select Spreadsheet
# By title
worksheet = sh.worksheet('merged')

# Append Dataframe to Sheet
set_with_dataframe(worksheet, df_merged_tallying_n_eval)